*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #525E75;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.card__container{
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap ;
}